<configuration>
  <!-- application specific settings -->
  <appSettings>
      <add key="APPSETTING_JM_TEST_APPSETTING" value="connection_string" />
  </appSettings>
  <system.webServer>
        <httpErrors errorMode="Detailed" />
          <asp 
            enableParentPaths="true" 
            bufferingOn="true" 
            scriptErrorSentToBrowser="true"/>
    </system.webServer>
  <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true"/>
  </system.web>
</configuration>